page-register {

    text-align: center;

    ion-content{    
        .scroll-content{
            
        padding : 0% 5% !important;
        }
    }

    ion-label{
        color : black !important;
        font-size : 1.7rem !important;
    }

    ion-input{
        color : black;
        font-size : 1.5rem !important;
    }

    input::-moz-placeholder {
        color: #B3B3B3 !important;
      }
      
      input:-ms-input-placeholder {
        color: #B3B3B3 !important;
      }
      
      input::-webkit-input-placeholder {
        color: #B3B3B3 !important;
      }

    ion-list > .item-block:first-child{
        border : none !important;
    }

    ion-list .item-block .item-inner{
        border-bottom: 0.5px solid map-get($colors, listooPink ) !important;
    }

    ion-item{
        background-color: transparent !important;
    }

    ion-grid ion-item{
        margin-top : 0vh !important;
        margin-bottom : 0vh !important;
    }
    ion-grid,ion-col{margin : 0px !important; padding : 0px !important}

    button{
        margin-top : 5vh !important;
    }

    ion-list .item-input.item-input-has-focus:last-child, ion-list .item-input.input-has-focus:last-child{
        border-bottom: none !important;
    }
    ion-item.item-input.item-input-has-focus .item-inner, ion-item.item-input.input-has-focus .item-innerion-list .item-input:last-child, ion-list .item-input.item-input-has-focus:last-child, ion-list .item-input.input-has-focus:last-child{
        box-shadow: none !important;
    }

    ion-item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, ion-item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        box-shadow: none !important;
    }

    ion-list .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, ion-list .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
        box-shadow: none !important;
        border-bottom: none !important;
    }

}
