<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221087838147-6ueeigbkoh3mllspp0gbui6r3r3bqjnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221087838147-6ueeigbkoh3mllspp0gbui6r3r3bqjnv</string>
	<key>API_KEY</key>
	<string>AIzaSyD_kbLrxzX8wOjIygvcdGa1CiMr9kuBnGw</string>
	<key>GCM_SENDER_ID</key>
	<string>221087838147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.listooResto</string>
	<key>PROJECT_ID</key>
	<string>listoo-7a227</string>
	<key>STORAGE_BUCKET</key>
	<string>listoo-7a227.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221087838147:ios:814a3fb37a459e94</string>
	<key>DATABASE_URL</key>
	<string>https://listoo-7a227.firebaseio.com</string>
</dict>
</plist>