page-commandes {

text-align: center;
    ion-item{
        background-color : white !important;
        border: none !important;
        border-radius: 10px !important;
        -webkit-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        margin-bottom : 3vh !important;

        .item-inner{
            border: none !important
        }

        h2{
            padding-bottom : 10px;
        }

        ion-icon{
            color : map-get($colors, listooPink);
        }

        .panierRecup{
            color : map-get($colors, listooGreen);
            background-color: white;
        }

        .panierNonRecup{
            color : white;
            background-color:  map-get($colors, listooGreen);
        }

        button{
        border-radius: 10px !important;
        font-size : 1.6rem !important;
        padding: 5px 10px;
        vertical-align: middle;
        -webkit-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        line-height: 2rem;
        }
    } 
}
