page-home {
    text-align: center;

    ion-content{
    background-image: url("../assets/imgs/listooBagBG.png");
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
    background-color : #f5f5f5 !important;

    .scroll-content{
        
        padding : 0% 10% !important;
        }
}

    .headerContainer > ion-icon{
        display: none;
    }

    p{
        padding-top : 2vh;
    }

    .divider{
        height: 1px;
        width: 50%;
        margin-left: 25%;
        margin-top : 5vh;
        margin-bottom : 5vh;
        background-color : #aaa;

    }

    .button{
        background-color : map-get($colors, listooGreen) !important;
    }

    #fbBtn{
        background-color : #3A559F !important;
        margin-top : 5vh;
    }
}
