page-config-panier {

    text-align: center;

    #firstSlide{

        ion-item{
            margin-bottom : 3vh !important;
        }
    }

    header-big .headerContainer{
        padding-top : 4vh !important;

        img{
            width : 40% !important;
        }
    }

    .slides-md header-big .headerContainer{
        padding-top : 1vh !important;
    }

    h2{
        color : black !important;
    }

    ion-select{
        width : 100% !important;
        max-width: none !important;
    }

    .item-datetime{
        width: 60% !important;
        margin-left: 20% !important;
        background-color: map-get($colors, listooPink );
        color: white;

        ion-label{
            color : white !important;
            font-size : 1.5rem !important;
        }
    }

    ion-label{
        color : map-get($colors, listooPink )
    }

    ion-item{
        margin-top : 0vh !important;
        margin-bottom : 5vh !important;
        border-radius: 5px !important;
        -webkit-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        width: 90% !important;
        margin-left : 5% !important;

        .item-inner{
            border-bottom: none !important;
        }

    }

    button{
        margin-top : 2vh !important;
    }

    .headerContainer{

        ion-icon{
            display: none;
        }
    }

    .toolbar > .toolbar-background{
        border : none;
    }

    ion-buttons ion-icon{
        font-size : 3rem !important;
        width: 3rem !important;
        text-align: center;
        background-color: map-get($colors, listooPink );
        color: white;
        margin-top : 3vh;
    }

    .btnClose.bar-buttons-md{
        top: 2vh !important;
    }

    .btnClose{
        position: absolute;
        left: 5% !important;
        top: 4vh !important;

        button{

            background-color: transparent !important;
            box-shadow: none !important;
            margin : 0 !important;
            

        .iconClose{
            
            font-size : 3rem !important;
            width: 3rem !important;
            text-align: center;
            background-color: map-get($colors, listooPink );
            color: white;
            border-radius: 3rem;
            margin : 0 !important;
            }

        }
    }

    ion-header > ion-icon{
        position: absolute !important;
        font-size : 3rem !important;
        width: 3rem !important;
        text-align: center;
        background-color: map-get($colors, listooPink );
        color: white;
        border-radius: 3rem;
        left : 5% !important;
        top : 4vh !important;
    }
    ion-header > ion-icon.icon-md{
        position: absolute !important;
        font-size : 3rem !important;
        width: 3rem !important;
        text-align: center;
        background-color: map-get($colors, listooPink );
        color: white;
        border-radius: 3rem;
        left : 5% !important;
        top : 2vh !important;
    }

    #resQtite{
        background-color: map-get($colors, listooPink );
        color: white;
        width: 90%;
        margin-left: 5%;
        padding: 1px 0px;
        border-radius: 10px;
        display: block;

        .whiteQtite, .pinkQtite{
            background-color : white;
            width: 40%;
            margin-left: 30%;
            padding: 5px 0px;
            border-radius: 10px;
            margin-top : 0px !important;
        }

        p{
            margin-bottom : 5px !important;
        }

        
        .whiteQtite{
            color : map-get($colors, listooGreen);
            font-size : 2.2rem;
            font-family: 'Galano Grotesque bold';
        }

        .pinkQtite{
            color : map-get($colors, listooPink);
            font-family: 'Galano Grotesque bold';
        }
    }

    ion-slides{

        vertical-align: top;

        ion-slide{
            align-items: flex-start !important;
            background-color : #fafafa;
            padding: 0% 5%;

            #firstBtnSwipe,button.next{
                position: absolute !important;
                bottom: 4vh;
                left : 5%;
                width: 90%;
                z-index: 100;
            }

            h5{
                color:  map-get($colors, listooPink );
                text-align : left;
                font-size : 1.7rem;
                margin-left : 5%;
            }

        }

        #secondSlide{
            .headerContainer{
                padding-bottom: 7vh !important;
            }
        }

        #thirdSlide{
            .headerContainer{
                padding-bottom: 2vh !important;
            }
            ion-navbar > .toolbar-background{
                background-color: transparent !important;
            }
            #resume{
                background-color:#fcfcfc !important;
                color:  map-get($colors, listooPink );
                width: 95%;
                margin-left: 2.5%;
                padding: 1px 0px;
                border-radius: 10px;
                display: block;
        
                .whiteQtite{
                    background-color : white;
                    color : map-get($colors, listooGreen);
                    width: 50%;
                    margin-left: 25%;
                    padding: 5px 0px;
                    border-radius: 10px;
                    font-size : 1.8rem;
                    font-family: 'Galano Grotesque bold';
                    -webkit-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
                    -moz-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
                    box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
                }
            }
            background:linear-gradient(0deg,rgba(255,255,255,0.6),rgba(255,255,255,0.6)),url("../assets/imgs/fruits.jpg");
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
        }
    }

    .datetime-disabled, .item-datetime-disabled ion-label{
        opacity : 1 !important;
    }

    textarea{
        height: 100px;
    }

    #maxChar{
        font-size: 1.1rem !important;
        line-height: 0px !important;
        margin: 0px !important;
        color: #F33959;
        text-align: left;
        padding-bottom: 15px !important;
        padding-left: 15px !important;
    }

}
