page-pwforgot {
    text-align: center;

    ion-item{
        margin-top : 5vh !important;
        margin-bottom : 5vh !important;
        border-radius: 5px !important;
        -webkit-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
        box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.2) !important;
    
    
        .item-inner{
            border-bottom: none !important;
        }
    }
    button{
        margin-bottom : 5vh !important;
    }
}
